.navbar ul{
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    list-style: none;
    
    
}
.navbar ul li{
    padding: 10px;
    
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
}
.flex-box{
    background-color: green;
    width: 1000px;
    height: 150px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border: 15px solid blue;
      
}
.flex-box p {
    font-size: 30px;
    font-weight: 800;
    padding-top: 25px;
}
#magic{
    display: none;
}
@media screen and (max-width:1000px ){
    body{
        background-color: burlywood;
    }
    .flex-box{
        width: 500px;
        height: 150px;
    }
}
@media screen and (max-width:800px ){
    body{
        background-color: orange;
    }
    .flex-box{
        width: 350px;
        height: 100px;
    }
    .flex-box p {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
    }
    .navbar ul {
        justify-content: space-around;
    }
}
@media screen and (max-width:700px ){
    body{
        background-color: plum;
    }
    .flex-box{
        background-color: plum;
        border: 15px solid red;
        width: 300px;

    }
    .flex-box p {
        display: none;
    }
    #magic{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: aquamarine;
        
    }
    .navbar ul li{
        align-items: center;
        border-bottom: 1px solid rgb(233, 230, 230);
    }
    .navbar ul li a {
        color: black;
    }

}
